@font-face {
  font-family: 'OldeEnglish';
  src: url('../fonts/OldeEnglish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-familt:"Georgia";
  src: url('../fonts/Georgia') format('truetype');
}

body {
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: white;
  margin: 0 auto;
  width: 960px;
}

h1,
h2,
h3,
h4 {
  font-family: 'OldeEnglish', sans-serif;
}
h1 {
  font-size: 3em;
}
p{font-family: 'Georgia',sans-serif;}
*[ng-view] {
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
}
.container {
  align-items: flex-start;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.container > * {
  display: inline-block;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Responsive: Portrait tablets and up */
