@font-face {
  font-family: 'OldeEnglish';
  src: url('../fonts/OldeEnglish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"Georgia";
  src: url('../fonts/Georgia') format('truetype');
}

body {
  padding: 5em 5em 5em 5em;
  font-family: 'Georgia', serif;
  background:url('images/bg.jpg') repeat;
  margin: 0 auto;
  width: 80%;
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
}

h2,h3 {
  font-family: 'Georgia', sans-serif;
}

h1, h4 {
  font-family: 'OldeEnglish', sans-serif;
  font-size: 3em;
}

p{font-family: 'Georgia',sans-serif;}
*[ng-view] {
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
}
.container {
  align-items: flex-start;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.container > * {
  display: inline-block;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

#FirstTitle {
  background-color: #0875DE;
  display: inline-block;
  color: #FFFFFF;
  padding: .2em 5em .2em 1em;
}


#current-month{
	margin-top: 2em;
}
#current-month p{
	padding:0;
	margin:0;
	background-color: #CB6D62;
	color:white;
	text-align: center;
	font-size:3em;
}

#current-month section{
	border:5px #CB6D62 solid;
	border-radius: 0px 0px 10px 10px;
	padding: 1.5em 1.5em;
}


td{
	border:5px #CB6D62 solid;
	border-radius: 0px 0px 10px 10px;
	padding: 1.5em 1.5em;
}


.major-news
	{
	border:1px solid #ADABAB;
	padding: 2em 3em 2em 3em;
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
		}
.major-news h2{
	font-family: 'Georgia';
	text-align:center;
	}

#title h4{
	font-size:80px;
	text-decoration:none;
	color:black;
	display:inline-block;
	margin:.5em 0  0 .5em;
}

#title p{
	text-decoration: none;
	color: #000;
	float: right;
	display: inline-block;
	font-size:20px;
	padding: 0;
	margin:0;

}

#momths{
	width:300px; !important
}



#months td{
	border:3px solid; /* #{{MonthsSentiment}} */
	border-radius: 0px 0px 5px 5px;
	padding:.5em .5em;
	font-size: 25px;

}

