#current-month{
	margin-top: 2em;
}
#current-month p{
	padding:0;
	margin:0;
	background-color: #CB6D62;
	color:white;
	text-align: center;
	font-size:3em;
}

#current-month section{
	border:5px #CB6D62 solid;
	border-radius: 0px 0px 10px 10px;
	padding: 1.5em 1.5em;
}


td{
	border:5px #CB6D62 solid;
	border-radius: 0px 0px 10px 10px;
	padding: 1.5em 1.5em;
}


.major-news
	{
	border:1px solid #ADABAB;
	padding: 2em 3em 2em 3em;
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.53);
		}
.major-news h2{
	font-family: 'Georgia';
	text-align:center;
	}

#title h4{
	font-size:80px; 
	text-decoration:none; 
	color:black; 
	display:inline-block;
	margin:.5em 0  0 .5em;
}

#title p{
	text-decoration: none;
	color: #000;
	float: right;
	display: inline-block;
	font-size:20px;
	padding: 0;
	margin:0;

}

#momths{
	width:300px; !important
}



#months td{
	border:3px solid; /* #{{MonthsSentiment}} */
	border-radius: 0px 0px 5px 5px;
	padding:.5em .5em;
	font-size: 25px;

}

