<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Alderwood Times</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="../bower_components/semantic-ui/dist/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/c3/c3.min.css" type="text/css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css" type="text/css">
    <!-- endbuild -->
</head>
<div class="ui inverted segment"></div>
<body ng-app="SenseMakingApp" ng-controller="MainCtrl">
    <div class="container">
        <div id="current-month">
            <p>2004</p>
            <section id="month">
                {{currentMonth}}
            </section>
        </div>
        <div id="title">
            <h1>The Alderwood Times</h1>
            <p>Your Best Local News Source in Alderwood</p>
            <!--img src="images/logo.png" alt="senseMaking" /-->
        </div>
    </div>
    <div class="container">
        <div id="monthList">
            <button ng-repeat="month in months" ng-click="setCurrentMonth(month)">{{month}}</button>
        </div>
        <div id="tagCloud">
            <span ng-repeat="keyword in keywords" ng-click="setCurrentKeyword(keyword)">{{keyword}}</span>
        </div>
    </div>

    <h1 class="ui header" id="FirstTitle">All Documents from {{currentMonth}}</h1>
    <div class="container">
        <!--div id="major-news">This Month's Major News</div-->
        <div class="ui vertically divided grid">
        	<div class="column row"> <!--class change depending on # of documents that month-->
            	<div class="column major-news" ng-repeat="(id, body) in documents">
                	<h3 class="DocTitle" id="title1">{{id}}</h3>
                    <h5 class="DocAuthorAndDate dividing header" id="AuthorAndPublishDate1">{{author}}</h5>
                    <p class="DocBody" id="body1">{{body}}</p>
                    <br></br>
                    <div id="sentiment" class="ui top attached label customize-color" ng-init="SetDocContents(frequency)"></div>
                </div>
           </div><!--N column row, N depends on how many news articles there are in that month-->
        </div><!--ui vertically divided grid-->
    </div><!--container-->

    <h1 class="ui header" id="trendline">Trend Line of {{currentMonth}}</h1>
    <div class="container" id="chart"></div>

    <div id="demo"></div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/c3/c3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
    <!-- endbuild -->
</body>
</html>
